@page "/"

<PageTitle>Questions</PageTitle>

<h1>Problem solving questions!</h1>

<h5>Welcome To this wonderful app.</h5>

<img  class="img-fluid" src="https://www.workitdaily.com/media-library/problem-solving-concept-technique.jpg?id=32029977&width=1200&height=400&quality=85&coordinates=0%2C168%2C0%2C168" alt="My Logo" />
